---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Experience from "../components/Experience.astro";
import Research from "../components/Research.astro";
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main id="main">
    <Hero />
    <Projects />
    <Experience />
    <Research />
    <About />
    <Footer />
  </main>
</Layout>
